#look-box:not(.unlighted){
	--color: #ddd;
}
#look-box.unlighted{
	--color: #000;
}
*.preview-theme--custom{
	font-size: 20px;
	color: var(--color);
	margin-block: 5px;
}
strong.preview-theme--custom{
	font-weight: bolder;
	color: #ddd; /* Be sure it is still visible while unlighed */
}
code.preview-theme--custom{
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
h1.preview-theme--custom{
	margin-block: 30px;
	color: #48c;
	text-align: center;
}
h1::before.preview-theme--custom{
	display: none;
}
h1::after.preview-theme--custom{
	content: '';
	display: block;
	width: 90%;
	margin-inline: auto;
	margin-block: 5px;
	border: 1px solid #48c;
}
h2.preview-theme--custom{
	color: #48c;
	margin-block: 20px;
}
h3.preview-theme--custom{
	color: #c44;
	margin-block: 10px;
}
h2::after.preview-theme--custom, h3::after.preview-theme--custom{
    display: none;
}
h2::before.preview-theme--custom, h3::after.preview-theme--custom{
    display: none;
}
li::marker.preview-theme--custom{
	display: none;
}
