*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Han Sans CN", "PingFang SC", "STHeiti", "Microsoft JhengHei UI", 'Microsoft YaHei UI', Arial, SimHei;
}

body{
    background-color: #000;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

#search-box{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#search{
    width: fit-content;
    width: 50%;
    text-align: center;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    font-weight: lighter;
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
}
.buttons-wrap-box{
    margin-top: 10px;
}
button{
    width: 100px;
    height: 40px;
    background-color: #333;
    margin-inline: 10px;
    border: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.bottom-wrap-box{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
}
#search-list-box{
    width: 37%;
    height: 100%;
    border-right: 1px solid #fff;
    display: block;
}
.search-list-item{
    width: 96%;
    font-size: 20px;
    margin-inline: 2%;
    margin-block: 5px;
    display: block;
    color: #ddd;
    text-decoration: none;
}
#look-box{
    position: absolute;
    top: 2%;
    left: 38%;
    width: 60%;
    height: 96%;
    display: block;
    overflow: auto;
}
.page-margin{
    margin-block: 80%; 
}
